<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="Python FastCGI"
                 path="*"
                 verb="*"
                 modules="FastCgiModule"
                 scriptProcessor="[Path to Python in Conda Env]\python.exe|[Path to wfastcgi.py in Conda Env]\wfastcgi.py"
                 resourceType="Unspecified"
                 requireAccess="Script" />
        </handlers>
        <fastCgi>
            <application fullPath="[Path to Python in Conda Env]\python.exe"
                        arguments="[Path to wfastcgi.py in Conda Env]\wfastcgi.py"
                        maxInstances="4"
                        idleTimeout="300" />
        </fastCgi>
    </system.webServer>
    <appSettings>
        <add key="PYTHONPATH" value="[Path to Your Application Root]" />
        <add key="WSGI_HANDLER" value="app.app" />
        <add key="WSGI_LOG" value="[Path to Log File]\wfastcgi.log" />
    </appSettings>
</configuration>
