<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="Python FastCGI" 
                 path="*" 
                 verb="*" 
                 modules="FastCgiModule" 
                 scriptProcessor="C:\inetpub\wwwroot\D8TAVu\env\python.exe|C:\inetpub\wwwroot\D8TAVu\env\Lib\site-packages\wfastcgi.py" 
                 resourceType="Unspecified" 
                 requireAccess="Script" />
        </handlers>
        <security>
            <requestFiltering>
                <fileExtensions allowUnlisted="true" />
                <verbs allowUnlisted="true" />
            </requestFiltering>
        </security>
    </system.webServer>

    <appSettings>
        <add key="PYTHONPATH" value="C:\inetpub\wwwroot\D8TAVu" />
        <add key="WSGI_HANDLER" value="app.app" />
        <add key="WSGI_LOG" value="C:\inetpub\wwwroot\D8TAVu\app.log" />
        <add key="WSGI_RESTART_FILE_REGEX" value=".*((\.py)|(\.config))$" />
        <add key="PYTHON_PATH" value="C:\inetpub\wwwroot\D8TAVu\env\python.exe"/>
        <add key="MPLCONFIGDIR" value="C:\inetpub\wwwroot\D8TAVu\temp"/>
        <add key="WSGI_PTVSD_SECRET" value=""/>
        <add key="WSGI_PTVSD_ADDRESS" value=""/>
    </appSettings>
</configuration>
